{{#each profile}}
	  <h4>{{ displayName }}</h4>
  		<ul>
	  		<li>{{ ageInYears }}</li>
	  		<li>{{ ethnicity }}</li>
	  		<li>{{ food }}</li>
	  		<li>{{ alcolholic }}</li>
	  		<li>{{ dairy }}</li>
	  		<li>{{ gluten-free }}</li>
	  		<li>{{ spicy }}</li>
	  		<li>{{ vegan }}</li>
	  		<li>{{ vegetarian }}</li>
	  		<li>{{ personalStatement }}</li>
	  		<li>{{ profileURL }}</li>
	  		<li>{{ uid }}</li>
	  	</ul>
{{/each}}